<div class="home">

    <h1>I'm looking for..</h1>

    <input type="text" placeholder="Enter a Job Discription" size="60px"> &nbsp;&nbsp;

    <button>Search</button>
    <br><br>
    <input type="checkbox"> Full Time
    <input type="checkbox"> Part Time/Casual/Freelance
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <label for="Citys">Select your Location</label>
    <select name="" id="City">
        <option value=""></option>
        <option value="Nagpur">Nagpur</option>
        <option value="Pune">Pune</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Banglore">Banglore</option>
    </select>
    &nbsp;&nbsp;<br><br>
    <button mat-raised-button (click)="openDialog()">Register</button>&nbsp;&nbsp;
</div>

<div class="home1" style="height: 28.2em;">

    <h3>We're leaders in</h3>
    <h1>Creating Digital Recruitment</h1>

    <p>Based in Surry Hills, the creative hub of sydney we are surrounded <br>
        by creativity and that reflecton the type of jobs we recrute for.</p>

    <button class="home2">FIND OUT MORE ABOUT US!</button>
</div>