
<h2>Profile</h2>

<label class="hoverable" for="fileInput">
      <img style="height: 100px;width: 100px;padding-right: 25em;"
      [src]="this.userService.profilePhoto">    
</label>

<div class="butt">
  <button mat-raised-button (click)="openDialog()">Edit Profile</button> &nbsp;&nbsp;&nbsp;
  <button >Edit Photo</button>
  <input id="fileInput" style="padding-right: 18em;" type='file' (change)="onSelectFile($event)">
</div><br>

<p class="content">I'm {{this.profile.firstname}}  {{this.profile.lastname}} and iam {{this.profile.age}} years old and <br> u can send your mails to {{this.profile.email}} . <br>
    I live in {{this.profile.States}} and i like {{this.profile.tag}}. <br> And please send me newsletters .
    Please reach <br>out to me on my Phone number {{this.profile.contact}}.
</p><br>

<button class="prof">I Agree</button>
<br><br><br><br><br><br><br><br><br><br><br><br>