
<h2>Profile</h2>

<label class="hoverable" for="fileInput">
      <img style="height: 100px;width: 100px;padding-right: 25em;"
      [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">    
</label>
<div class="butt">
  <button >Edit Photo</button>&nbsp;&nbsp;
  <button>Edit Profile</button>
</div><br>

<p class="content">i'm Himanshu Tembhurkar and iam 24 years old and u can <br> send your mails to himanshutembhurkar0@gmail.com <br>
    I live in Pune i like to play cricket, football , coocking. <br> And please send me newsletters .
    Please reach <br>out to me on my Phone number 7219418490.
</p><br>

<button class="prof">I Agree</button>
<br><br><br><br><br><br><br><br><br><br><br><br>